body h1 {
    color: olive;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 63px;
    text-align: center;
    text-transform: uppercase;
}

form{
    text-align: center;
}